.abejacaja1{  
    display: flex;
    margin-top: 20px;
    width: 1500px;
}

.col-5{
    overflow: clip;
    width: 40%;
    font-size: 100%;
    border: 2px dotted yellow;
}

.col-7{
    overflow: clip;
    width: 20%;
    font-size: 100%;
    border: 2px double yellow;
}