.col-8avs{
    overflow: clip;
    width: 600px;
    max-width:100%;
    height: 500px;
    font-size: 100%;
}

.col-3avispa {
    overflow: clip;
    width: 20%;
    font-size: 100%;
    text-align: center;
    margin-top: 150px;
}

.avispacaja1 {
    margin-bottom: 20px;
}

.col-2avispa{
    justify-content: center;
    overflow: clip;
    width: 40%;
    font-size: 100%;
}

.col-2avispa iframe{
    overflow: clip;
    width: 400px;
    max-width:100%;
    height: 500px;
    font-size: 100%;  
}

.col-2avispa img{
    overflow: clip;
    width: 400px;
    max-width:100%;
    height: 300px;
    font-size: 100%;
    margin-top: 80px;
}

.avispacaja1{
    border: 2px solid black;
    margin-bottom: 20px;
}

.col-3avispa{
    overflow: clip;
    width: 20%;
    font-size: 100%;
    text-align: center;
    margin-top: 150px;
}

.avispa1{ 
    margin-left: 20px;
    border: 2px solid black;
    width: 470px;
    height: 20%;
}
.textoavispa1{
    margin-left:300px;
    font-size: 15px;  
    border: 2px solid black;
    width: 600px;
}

.textodescrip1avips {
    width: auto;
    font-size: 40px;
    border: 2px solid black;
    overflow: clip;
    font-size: 100%;
}

.col-sm-5avs{
    max-width: 100%;
}

.col-8{
    margin-top: 130px;
    max-width: 50%;
    width: 100%;
    color: white;
    justify-content: center;
}