.col-7{
    overflow: clip;
    width: 20%;
    font-size: 100%;
    border: 2px double yellow;
}

.col-5{
    overflow: clip;
    width: 40%;
    font-size: 100%;
    border: 2px dotted yellow;
}

.col-6{
    overflow: clip;
    width: 30%;
    font-size: 100%;
    border: 2px  dotted yellow;
    margin: 2px;
}